.Textarea {
  padding: 7px 15px;
  color: var(--black);
  border: none;
  box-shadow: 0px 4px 4px 0px #0000000D;
  outline-color: var(--primary);
  border-radius: 5px;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 22px;
}


.Textarea::placeholder {
  color: var(--gray)
}