.title {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: left;
  gap: 20px;
}

.wrapper {
}

.hhTitle {
  display: grid;
  grid-template-columns: auto 1fr;

  align-items: center;
  justify-items: left;
  gap: 20px;
  margin-bottom: 20px;
}

.seoText {
  margin-bottom: 30px !important;
}

.tagContainer {
  margin-top: 20px;
}

.tagSelf {
  margin-right: 10px !important;
}
